@tailwind base;
@tailwind components;
@tailwind utilities;

.backface-visibility-none {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

body,
html {
  overflow-x: hidden;
}
