name: Continuous Integration
# This runs twice on merge to main.
# once for versioning from merge
# once for pushing to relative ci
# dont think relative ci is configure properly
# i was expecting the merge alone would work
# but since it runs from the merged branch it
# doesnt sync with relative ci
on:
  push:
    branches:
      - main
  # pull_request:
  #   types:
  #     - closed
  #   branches:
  #     - main

jobs:
  check-affected:
    runs-on: ubuntu-latest
    outputs:
      should_continue: ${{ steps.determine_affected.outputs.should_continue }}
      affected_apps: ${{ steps.determine_affected.outputs.affected_apps }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: "recursive"

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "20"

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Determine the base commit of the PR
        id: determine_base
        run: echo "BASE=${{ github.event.before }}" >> $GITHUB_ENV

      - name: Determine the head commit of the PR
        id: determine_head
        run: echo "HEAD=${{ github.event.after }}" >> $GITHUB_ENV

      - name: Determine what apps are affected
        id: determine_affected
        run: |
          AFFECTED_APPS=($(npx nx show projects --affected --base=$BASE --head=$HEAD))
          if [ "${#AFFECTED_APPS[@]}" -eq 0 ] || [ "${AFFECTED_APPS[0]}" = "" ]; then
            echo "No apps are affected. Skipping remaining workflow."
            echo "::notice::No apps affected - skipping remaining steps"
            echo "should_continue=false" >> $GITHUB_OUTPUT
          else
            echo "Affected apps: ${AFFECTED_APPS[@]}"
            echo "should_continue=true" >> $GITHUB_OUTPUT
            echo "affected_apps=${AFFECTED_APPS[@]}" >> $GITHUB_OUTPUT
          fi

  build-and-deploy:
    needs: check-affected
    if: needs.check-affected.outputs.should_continue == 'true'
    runs-on: ubuntu-latest
    environment: production
    env:
      CI: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: "recursive"

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "18"

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Determine the base commit of the PR
        id: determine_base
        run: echo "BASE=${{ github.event.before }}" >> $GITHUB_ENV

      - name: Determine the head commit of the PR
        id: determine_head
        run: echo "HEAD=${{ github.event.after }}" >> $GITHUB_ENV

      # todo change api url
      - name: Write env file
        run: |
          echo "VITE_TOSHI_MOTO_XPUB=${{ secrets.VITE_TOSHI_MOTO_XPUB }}" >> apps/web-ui/.env
          echo "VITE_BITCOIN_NETWORK=mainnet" >> apps/web-ui/.env
          echo "VITE_REST_TIME_BETWEEN_REQUESTS=0" >> apps/web-ui/.env
          echo "VITE_MAX_CONCURRENT_REQUESTS=8" >> apps/web-ui/.env
          echo "CI=true" >> apps/web-ui/.env
          echo "VITE_IS_UMBREL=false" >> apps/web-ui/.env
          echo "VITE_API_URL=http://umbrel.local:8021" >> apps/web-ui/.env
          echo "VITE_PRICING_STREAM_DISABLED=1" >> apps/web-ui/.env

      - name: Lint
        run: npx nx affected --target=lint --base=$BASE --head=$HEAD

      - name: Test
        run: npx nx affected --target=test --base=$BASE --head=$HEAD

      - name: Build
        run: npx nx affected --target=build --base=$BASE --head=$HEAD

      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      # - name: Install Playwright Browsers
      #   run: |
      #     npx playwright install
      #     npx playwright install-deps

      # - name: Screenshots
      #   run: npx nx run web-ui:e2e
      #   continue-on-error: true
      #   id: screenshots

      # create a way to update the commitSha from the release
      # so we can use the commit from the release to point commitSha
      # also allow tags to be updated
      # - name: WebshotArchive Action
      #   uses: webshotarchive/github-action@latest
      #   with:
      #     screenshotsFolder: dist/.playwright/screenshots
      #     projectId: ${{secrets.TIMECHAIN_PROJECT_ID}}
      #     clientId: ${{ secrets.TIMECHAIN_CLIENT_ID }}
      #     clientSecret: ${{ secrets.TIMECHAIN_CLIENT_SECRET }}

      - name: Release
        run: npx nx affected --target=version --exclude='*,!tag:deployable' --base=$BASE --head=$HEAD
        env:
          SHA: ${{ env.HEAD }}
          PROJECT_ID: ${{ secrets.TIMECHAIN_PROJECT_ID }}
          CLIENT_ID: ${{ secrets.TIMECHAIN_CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.TIMECHAIN_CLIENT_SECRET }}
          # todo change this image path to use branch
          # dist/.playwright/screenshots/pages-homepage-tags--fullpage--chromium/homepage.png
          # FILES: |
          #   https://api.webshotarchive.com/api/image/path/dist/.playwright/screenshots/pages-homepage-tags--fullpage--chromium/homepage.png?&projectId=${{secrets.TIMECHAIN_PROJECT_ID}}
          #   https://api.webshotarchive.com/api/image/path/dist/.playwright/screenshots/pages-onboarding-tags--fullpage--chromium/onboarding.png?projectId=${{secrets.TIMECHAIN_PROJECT_ID}}

      - name: GitHub Push
        uses: ad-m/github-push-action@v0.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
          tags: true
